<div class="container">
    <h1>Angular Components</h1>

    <app-rxjs></app-rxjs>

    <!-- <app-form></app-form> -->

    <!-- <app-switch [(ngModel)]="appState"></app-switch>

    <p>appState: {{appState}}</p> -->
    <!-- <p>{{appCounterService.counter}}</p>

    <button (click)="appCounterService.increase()" class="btn btn-primary">+</button>
    <button (click)="appCounterService.decrease()" class="btn btn-secondary">-</button>

    <hr>
    <p>{{localCounterService.counter}}</p>

    <button (click)="localCounterService.increase()" class="btn btn-primary">+</button>
    <button (click)="localCounterService.decrease()" class="btn btn-secondary">-</button>

    <hr>
    <app-counter></app-counter> -->
    
    <!-- <p>{{p | async}}</p> -->

    <!-- <p>{{date | async | date: 'HH:mm:ss'}}</p> -->

    <!-- {{searchField}}
    <button (click)="searchField = 'title'" class="btn btn-primary">Title</button>
    <button (click)="searchField = 'text'" class="btn btn-secondary">Text</button>
    
    <button (click)="addPost()" class="btn btn-primary">add</button>


    <div class="form-group">
        <p>{{search}}</p>
        <label for="exampleInputSearch1">Search</label>
        <input [(ngModel)]="search" type="text" class="form-control" id="exampleInputSearch1" aria-describedby="emailHelp" placeholder="Enter search">
        <small id="searchHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <ul class="list-group">
        <li *ngFor="let post of posts | filter:search" class="list-group-item">{{post.title}} <span class="badge badge-secondary">{{post.text}}  </span></li>
    </ul> -->





    <!-- <p>{{ 10 | multBy:4}}</p>

    <p>{{' fdf    ' | exMarks}}</p> -->

    <!-- <p>{{date | date:'dd MMMM yyyy HH:mm:ss' }}</p>
    <p>{{float | currency}}</p>
    <p>{{float | percent}}</p>
    <pre >{{obj |  json}}</pre > -->
    <!-- <p>{{float | }}</p> -->
    <!-- {{e | number:'2.1-5' }} -->
    <!-- {{str | uppercase | lowercase | titlecase | slice:1:-3 }} -->

    <!-- <p [appStyle]="'red'" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quasi, ipsam, ut, rem quod obcaecati recusandae ex quas distinctio sapiente consectetur cum asperiores placeat hic nesciunt pariatur inventore adipisci ea.</p>
    <p [appStyle]="'blue'" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quasi, ipsam, ut, rem quod obcaecati recusandae ex quas distinctio sapiente consectetur cum asperiores placeat hic nesciunt pariatur inventore adipisci ea.</p>

    <button (click)="isVisible = !isVisible">Toggle</button> -->

    <!-- <div *ngIf="isVisible; else visible"  class="wrap"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus autem est obcaecati voluptatibus delectus laudantium dolorem natus quam minus voluptatum ab incidunt, cumque asperiores expedita sed eaque eveniet quae fuga!</p></div>
    <ng-template #visible>else</ng-template> -->
    <!-- <ng-template [ngIf]="isVisible">
        <div class="wrap"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus autem est obcaecati voluptatibus delectus laudantium dolorem natus quam minus voluptatum ab incidunt, cumque asperiores expedita sed eaque eveniet quae fuga!</p></div>
    </ng-template> -->
    

    <!-- <div class="wrap" *appIfnot="!isVisible"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus autem est obcaecati voluptatibus delectus laudantium dolorem natus quam minus voluptatum ab incidunt, cumque asperiores expedita sed eaque eveniet quae fuga!</p></div> -->

    <!-- <h2>Angular Components</h2>

    <app-post-form
    (onAdd)="updatePosts($event)"
    ></app-post-form>
    <hr>
    <app-post 
        *ngFor="let p of posts" 
        [post]="p"
        (onRemove)="removePost($event)"
        >
        <div #info>
            <span *ngIf="p.text.length > 10; else short" class="badge badge-secondary">long</span>
            <ng-template #short>
                <span class="badge badge-secondary">short</span>
            </ng-template>
        </div>
    </app-post> -->
</div>